body{
    font-family: "Roboto", sans-serif;
    color: #212121;
}

/* The same styles */
.link{
    text-decoration: none;
    color: black;
}
.contacts, .advantages-items,
.site-nav li, .examples li,
.workers, .footer-contacts
{
    list-style-type: none;
}

/* Header */

.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: black;
}

.accent {
    font-size: 26px;
    color: #2196F3;
}

.current {
    color: #2196F3;
    text-decoration: none;
}

.site-nav li{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}


.nav-contacts{
    color: #757575;
}


/* Studio */

/* Hero */

.hero{
    background-color: #2F303A;
}

.hero h1{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color:#ffffff;
}

.hero button{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    background-color:#2196F3;;
}

.filter-button{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62; 
    letter-spacing: 0.03em;
    cursor: pointer;
    text-align: center;
    color: #ffffff;
}

.advantages-items h3{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}

.advantages-items p{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}

.examples h2, .team h2{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.team{
    background-color: #F5F4FA;
}

.workers h3{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.187;
    letter-spacing: 0.03em;
    color: #212121
}
.workers p{
    font-size: 16px;
    line-height: 1.187; 
    letter-spacing: 0.03em;
    color: #757575;
}

/* Portfolio */

.headings{
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.description{
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: #757575;
}

/* Footer */

.footer{
    background-color: #2F303A;
}

.footer .logo{
    color: #ffffff;
}

.address {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.mail, .phone{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
