:root{
    --main-font-family : "Roboto", sans-serif;
    --secondary-font-family: "Raleway", sans-serif;
    --main-color:#212121;
    --secondary-color: #2196F3;
    --main-dark-background-color: #ffffff;
    --main-background-color: #ffffff;
    --secondary-background-color: #F5F4FA;
    --main-font-size: 14px;
}

body{
    font-family: var(--main-font-family);
    color: var(--main-color);
    background: var(--main-background-color);
    font-size: var(--main-font-size);
}

/* The same styles */
.link{
    text-decoration: none;
}

.list{
    list-style-type: none;
}

/* Header */

.logo{
    font-family: var(--secondary-font-family);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: var(--main-color);
}

.accent {
    color: var(--secondary-color);
}

.site-nav{
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:var(--main-color);
}

.site-nav:hover, .site-nav:focus{
    color: var(--secondary-color)
}

.current {
    color: var(--secondary-color);
    text-decoration: none;
}

.nav-contacts{
    color: #757575;
}


/* Studio */

/* Hero */

.hero{
    background-color: #2F303A;
}

.hero h1{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color:var(--main-dark-background-color);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

button{
    cursor: pointer;
}

.hero button{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    background-color:var(--secondary-color);
    color: var(--main-dark-background-color); 
}

.filter-buttons{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62; 
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--main-color);
}
.current-filter{
    background-color: var(--secondary-color);
    color: var(--main-dark-background-color);
}

.filter-buttons:hover, .filter-buttons:focus{
    color: var(--secondary-color);
}

.current-filter:hover, .current-filter:focus{
    color: var(--main-dark-background-color);
}

.advantages-items h3{
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-color);
    font-size: 14px;
}

.advantages-items p{
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}

.section-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);
}

.team{
    background-color: var(--secondary-background-color);
}

.workers h3{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.187;
    letter-spacing: 0.03em;
    color: var(--main-color);
}
.workers p{
    font-size: 16px;
    line-height: 1.187; 
    letter-spacing: 0.03em;
    color: #757575;
}

/* Portfolio */

.headings{
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.description{
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: #757575;
}

/* Footer */

.footer{
    background-color: #2F303A;
}

.footer .logo{
    color: var(--main-dark-background-color);
}

.address{
    font-style: normal;
}

.street {
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-dark-background-color);
}

.footer-links{
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-links:hover, .footer-links:focus{
    color: var(--secondary-color);
}
